'use strict';
module.exports = {
	port: {{ port }},
    cookieSecret: {{ cookieSecret }},
    database: {
    	client: {{ database.client }},
    	connection: {
			host: {{ database.host }},
			user: {{ database.user }},
			password: {{ database.password }},
			database: {{ database.database }}
		}
	}
};