'use strict';
module.exports = {
	port: {{ port }},
    cookieSecret: '{{ cookie_secret }}',
    database: {
    	client: '{{ database_client }}',
    	connection: {
			host: '{{ database_host }}',
			user: '{{ database_user }}',
			password: '{{ database_password }}',
			database: '{{ database_database }}'
		}
	}
};